.header {
    max-width: 1280px;
    min-height: 74px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    margin: 0 auto;
    position: relative;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__navigation {
    width: 212px;
    position: absolute;
    left: calc(50% - 106px)
}

.header__navigation-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;

    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: right;
}

.header__navigation-item {
    margin-right: 16px;
}

.header__navigation-item:last-of-type {
    margin: 0;
}

.header__navigation-link {
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: right;
    text-decoration: none;
}

.header__profile-button {
    width: 100px;
    height: 32px;

    border: 1px solid #AAAAAA;
    border-radius: 50px;

    padding: 9px 12px;
    box-sizing: border-box;

    background-color: transparent;

    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
    letter-spacing: 0;
    text-align: right;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__profile-icon {
    width: 12px;
    height: 14px;
}

.header__button-container {
    display: flex;
    justify-content: space-between;
}

.header__signup {
    background-color: transparent;
    border: none;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    color: #FFF;
    padding: 0;

    margin-right: 30px;
}

.header__signup:hover {
    cursor: pointer;
}

.header__signin {
    width: 76px;
    height: 32px;

    border-radius: 3px;
    border: none;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    color: #000;

    background-color: #3DDC84;
}
