.about {
    max-width: 1280px;
    padding: 110px 70px;
    box-sizing: border-box;
    margin: 0 auto;

    font-family: Inter, sans-serif;
    text-align: left;
    letter-spacing: -0.04em;
    color: #FFF;
}

.about__content {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 110px;
}

.about__text {
    max-width: 550px;
}

.about__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;

    margin: 0 0 26px;
}

.about__description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    margin: 0;
    font-weight: 400;
}

.about__timeline {
    display: flex;
}

.about__backend {
    width: 20%;
}

.about__frontend {
    width: 80%;
}

.about__period {
    min-height: 36px;
    margin: 0 0 14px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:#303030;
}

.about__period_black {
    color: #000;
    background-color: #3DDC84;
}

.about__cite {
    margin: 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: #8B8B8B;

}

@media screen and (max-width: 1279px) {
    .about {
        padding: 90px 50px;
    }

    .about__content {
        margin-bottom: 93px;
    }

    .about__text {
        max-width: 319px;
    }

    .about__description {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0;
        margin: 0;
    }

    .about__backend {
        width: 140px;
    }

    .about__frontend {
        width: 528px;
    }

    .about__cite {
        font-family: Suisse Intl, Inter, sans-serif;
        font-weight: 400;
    }
}
