.navtab {
    display: flex;
    gap: 10px;
    list-style: none;
    color: #FFF;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.navtab__element {
    min-width: 96px;
    min-height: 36px;

    background-color: #303030;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
}

.navtab__link {
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width: 1280px) {
    .navtab {
        /*margin-bottom: 30px;*/
    }
}

@media screen and (max-width: 320px) {
    .navtab {
        gap: 6px;
    }

    .navtab__element {
        font-size: 10px;

        min-width: 82px;
        min-height: 26px;
    }
}
